---
http_interactions:
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mX63DfWHZg5wu3naXc", oauth_nonce="62eca812c09ad56d3eccd55878e6a3f1",
        oauth_signature="r8qIGzznV9uIpUtO3FCNfwfQfgQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1457625193", oauth_token="cxLFBj3mJBS8Fp6hKw", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - webhook, snippet:write, wiki, issue:write, pullrequest:write, repository:admin,
        project:write, team:write, account:write
      X-Static-Version:
      - 059d840cbd2c
      Etag:
      - ! '"eecee1333a41a318d2857aa76ef6d4c3"'
      X-Render-Time:
      - '0.023784160614'
      X-Accepted-Oauth-Scopes:
      - repository
      X-Version:
      - 059d840cbd2c
      X-Request-Count:
      - '477'
    body:
      encoding: US-ASCII
      string: ! '{"repositories": [], "user": {"username": "alphonsothebananaface",
        "first_name": "Alphonso", "last_name": "Banana Face", "display_name": "Alphonso
        Banana Face", "is_staff": false, "avatar": "https://bitbucket.org/account/alphonsothebananaface/avatar/32/?ts=1457608617",
        "resource_uri": "/1.0/users/alphonsothebananaface", "is_team": false}}'
  recorded_at: Thu, 10 Mar 2016 15:53:13 GMT
recorded_with: VCR 2.2.5
